[submodule "External/imgui"]
	path = External/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "External/glfw"]
	path = External/glfw
	url = https://github.com/glfw/glfw.git
[submodule "External/HawtLib"]
	path = External/HawtLib
	url = https://github.com/HawtStrokes/HawtLib.git
[submodule "External/ffmpeg-cpp"]
	path = External/ffmpeg-cpp
	url = https://github.com/Raveler/ffmpeg-cpp.git
[submodule "External/miniz-cpp"]
	path = External/miniz-cpp
	url = https://github.com/tfussell/miniz-cpp.git
[submodule "External/imgui-filebrowser"]
	path = External/imgui-filebrowser
	url = https://github.com/AirGuanZ/imgui-filebrowser.git
